# Global Infrastructure Settings
DOMAIN_NAME=esergeev.42.fr

# MySQL / MariaDB Configuration
MYSQL_DATABASE=inception_db
MYSQL_USER=wp_user
##
MYSQL_PASSWORD=#####
##
MYSQL_ROOT_PASSWORD=#######

# WordPress Configuration
WP_ADMIN_USER=wp_boss
##
WP_ADMIN_PASSWORD=########
WP_ADMIN_EMAIL=esergeev@student.42.fr

WP_USER=wp_author
##
WP_USER_PASSWORD=##########
WP_USER_EMAIL=author@example.com

